.playlist-card {
    background-color: #F1F4F1;
    border: 1px solid #dddddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    height: 100%
}

.playlist-card:hover {
    transform: translateY(5px);
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333333;
}

.card-text {
    font-weight: 600;
    font-size: 1rem;
    color: #2B313D;
}

/* .playlist-card a.btn {
    color: ffffff;
    margin-top: 10px;
    background-color: #007bff;
    border-color: #007bff;
}

.playlist-card a.btn:hover {
    color: ffffff;
    background-color: #0056b3;
    border-color: #0056b3;
} */

.card-link {
    margin: 10px 10px;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #F1F4F1;
    background-color: #A64C37;
}

@media (max-width: 768px) {
    .playlist-card {
        padding: 15px;
    }

    .playlist-card h5 {
        font-size: 1.2rem;
    }

    .playlist-card p {
        font-size: 0.9rem;
    }
}