.playlist-card {
    background-color: #F1F4F1;
    border: 1px solid #dddddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    height: 100%;
}

.playlist-card:hover {
    transform: translateY(5px);
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333333;
}

.card-text {
    font-weight: 600;
    font-size: 1rem;
    color: #2B313D;
}

.card-days {
    margin-bottom: 20px;
}

/* .card-button {
    color: #2B313D;
    margin-top: 10px;
    background-color: #A64C37 !important;
    transition: transform 0.3s ease;
} */

.card-button {
    background-color: #A64C37;
    border: none;
}

.card-button:hover {
    background-color: #55261c !important;
}

.card-link,
.card-button {
    margin: 10px 10px;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #F1F4F1;
    transition: transform 0.3s ease;
}

/* .card-link {
    margin: 10px 10px;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #F1F4F1;
    background-color: #76ABAE;
    transition: transform 0.3s ease;
} */

.card-link {
    background-color: #76ABAE;
}

.card-link:hover {
    background-color: #477679;
}

@media (max-width: 768px) {
    .playlist-card {
        padding: 15px;
    }

    .playlist-card h5 {
        font-size: 1.2rem;
    }

    .playlist-card p {
        font-size: 0.9rem;
    }
}