.workout-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}

.workout-card {
    width: 18rem;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.workout-card:hover {
    transform: scale(1.5);
    transform: translateY(5px);
}

.workout-card img {
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
}

.workout-card .card-body {
    padding: 20px;
}

.workout-card .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.workout-card .card-text {
    font-size: 1rem;
    color: #6c757d;
}