.workout-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}

.workout-card {
    background-color: #222831;
    width: 18rem;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s box-shadow 0.3s;
    overflow: hidden;
}

.workout-card:hover {
    transform: scale(1.2);
    /* transform: translateY(5px); */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.workout-card img {
    height: 200px;
    width: 100%;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
    transition: transform 0.3s;
}

.workout-card:hover img {
    transform: scale((1.1));
}

.workout-card .card-body {
    padding: 20px;
}

.workout-card .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #EEEEEE;
    padding-left: 20px;
}

.workout-card .card-text {
    font-size: 1rem;
    color: #EEEEEE;
}

.add-to-playlist-btn {
    background-color: #76ABAE;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-playlist-btn:hover {
    background-color: #628d91;
}