/* Profile.css */

.profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .profile-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .profile-details p {
    margin-bottom: 10px;
  }
  
  .change-profile-btn {
    background-color: #A64C37;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .change-profile-btn:hover {
    background-color: #5f2c20;
  }
  